
<h4>Sign Up for an Account</h4>


<div class="container">

<a href="/auth/spotify"><button class="btn btn-success btn-rounded btn-lg my-3">Sign up with Spotify<i class="fab fa-spotify ml-2"></i></button></a>

<p>or</p>


<form id="form" method="POST" action="/auth/signup">
<div class="form-row form-group">
    <div class="col">
      <input type="text" name="firstname" class="form-control" placeholder="First Name">
    </div>
    <div class="col">
      <input type="text" name="lastname" class="form-control" placeholder="Last Name">
    </div>
  </div>

  <div class="form-group">
    <input type="email" name="email" class="form-control" placeholder="Enter email">
  </div>

  <div class="form-group">
    <input type="password" name="password" class="form-control" placeholder="Choose your password">
  </div>

  <div class="form-group">
  <button type="submit" class="btn btn-primary">Register</button>
  </div>

</form>
</div>

